body {
    background-color: lightgrey;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100vh;
    font-size: 1em;
}

input, select {
    margin: 5px;
    padding: 5px;
    font-family: "Roboto", sans-serif;
}

button {
    cursor: pointer;
    width: 100px;
    padding: 5px;
    background-color: white;
    font-family: "Roboto", sans-serif;
}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.head {
    padding: 0.5em 0 0.5em 0;
    height: auto;
    width: 100%;
    background-color: white;
}

.container {
    margin: 2em 15em 0 15em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
    padding: 2em;
    background-color: ghostwhite;
}

.container img {
    width: 400px;
    height: 400px;
}

.options {
    font-size: 0.9em;
    height: inherit;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.textInput {
    text-align: left;
}

.colorFontInput {
    text-align: left;
}

.downUp {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.foot {
    padding: 10px;
    position: fixed;
    width: 100%;
    background-color: white;
    text-align: center;
    bottom: 0;
}

@media only screen and (max-width: 1200px) and (min-width: 500px) {
    .container {
        width: auto;
        margin: 2em 0 0 0;
        flex-direction: column;
    }
    .container img {
        width: 300px;
        height: 300px;
    }
    .options,
    .textInput,
    .colorFontInput,
    .downUp {
        text-align: center;
    }
    .downUp {
        display: flex;
        flex-direction: column;
        margin-bottom: 5em;
    }
}
